[submodule "software/signalAquirer/lib/raylib"]
	path = software/signalAquirer/lib/raylib
	url = https://github.com/raysan5/raylib
[submodule "software/signalAquirer/lib/raygui"]
	path = software/signalAquirer/lib/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "software/signalAquirer/lib/imgui"]
	path = software/signalAquirer/lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "software/signalAquirer/lib/implot"]
	path = software/signalAquirer/lib/implot
	url = https://github.com/epezent/implot
[submodule "software/signalAquirer/lib/lsllib"]
	path = software/signalAquirer/lib/lsllib
	url = https://github.com/sccn/liblsl.git
[submodule "software/signalAquirer/lib/gtest"]
	path = software/signalAquirer/lib/gtest
	url = https://github.com/google/googletest.git
[submodule "software/nn/lib/cnpy"]
	path = software/nn/lib/cnpy
	url = https://github.com/rogersce/cnpy.git
[submodule "software/nn/lib/matio-cpp"]
	path = software/nn/lib/matio-cpp
	url = https://github.com/ami-iit/matio-cpp.git
[submodule "software/nn/lib/matio"]
	path = software/nn/lib/matio
	url = https://github.com/tbeu/matio.git
