Checks: >
  -*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -modernize-use-trailing-return-type,
  -modernize-use-auto,
  -readability-identifier-naming,
  -readability-magic-numbers

WarningsAsErrors: [
  clang-analyzer-*,
  bugprone-*,
]

HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: true
FormatStyle: file