BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 255
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  IndentBraces: true
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
AlignAfterOpenBracket: true
AllowAllConstructorInitializersOnNextLine: true
