# .clangd - compile database + compile flags
CompileFlags:
  # Use compile_commands.json from build/
  CompilationDatabase: build

  # Flags added only if not in compile_commands.json
  Add:
    - -std=gnu++20
    - -I${workspaceFolder}/src
    - -isystem
    - /usr/include/eigen3
    - --gcc-toolchain=/usr

Index:
  Background: Build
